*{
    font-family: 'Kantumruy Pro', sans-serif !important;
}
.w-15{
    width: 20px;
}
.box-add-edit{
    width: 45%;
}
.choose-file{
    cursor: pointer;
}
.form-control:focus , .form-select:focus{
    box-shadow: none !important;
}
/* .piont1{
    width: 20px;
    height: 20px;
    background: black !important;
} */
.btn-lang{
    border: 1px dashed blue !important;
}
.w-10{
    width: 30px;
    height: 30px;
}
.px-6{
    padding: 0 100px;
}
